In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_excel('ecom-data.xlsx')

In [3]:
df.head()

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,159.93
1,50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,120.90
2,50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120.28
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134.07
4,50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,129.60

# Understanding the data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Churn                        5630 non-null   int64
 2   Tenure                       5366 non-null   float64
 3   PreferredLoginDevice         5630 non-null   object
 4   CityTier                     5630 non-null   int64
 5   WarehouseToHome              5379 non-null   float64
 6   PreferredPaymentMode         5630 non-null   object
 7   Gender                       5630 non-null   object
 8   HourSpendOnApp               5375 non-null   float64
 9   NumberOfDeviceRegistered     5630 non-null   int64
 10  PreferedOrderCat             5630 non-null   object
 11  SatisfactionScore            5630 non-null   int64
 12  MaritalStatus                5630 non-null   object
 13  NumberOfAddress              5630 non-null   int64
 14  Complain                     5630 non-null   int64
 15  OrderAmountHikeFromlastYear  5365 non-null   float64
 16  CouponUsed                   5374 non-null   float64
 17  OrderCount                   5372 non-null   float64
 18  DaySinceLastOrder            5323 non-null   float64
 19  CashbackAmount               5630 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 879.8+ KB

In [5]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
CustomerID,5630.0,52815.500000,1625.385339,50001.0,51408.25,52815.50,54222.7500,55630.00
Churn,5630.0,0.168384,0.374240,0.0,0.00,0.00,0.0000,1.00
Tenure,5366.0,10.189899,8.557241,0.0,2.00,9.00,16.0000,61.00
CityTier,5630.0,1.654707,0.915389,1.0,1.00,1.00,3.0000,3.00
WarehouseToHome,5379.0,15.639896,8.531475,5.0,9.00,14.00,20.0000,127.00
HourSpendOnApp,5375.0,2.931535,0.721926,0.0,2.00,3.00,3.0000,5.00
NumberOfDeviceRegistered,5630.0,3.688988,1.023999,1.0,3.00,4.00,4.0000,6.00
SatisfactionScore,5630.0,3.066785,1.380194,1.0,2.00,3.00,4.0000,5.00
NumberOfAddress,5630.0,4.214032,2.583586,1.0,2.00,3.00,6.0000,22.00
Complain,5630.0,0.284902,0.451408,0.0,0.00,0.00,1.0000,1.00
OrderAmountHikeFromlastYear,5365.0,15.707922,3.675485,11.0,13.00,15.00,18.0000,26.00
CouponUsed,5374.0,1.751023,1.894621,0.0,1.00,1.00,2.0000,16.00
OrderCount,5372.0,3.008004,2.939680,1.0,1.00,2.00,3.0000,16.00
DaySinceLastOrder,5323.0,4.543491,3.654433,0.0,2.00,3.00,7.0000,46.00
CashbackAmount,5630.0,177.223030,49.207036,0.0,145.77,163.28,196.3925,324.99

In [6]:
percent_of_null_values = ((df.isnull().sum())*100/len(df)).sort_values(ascending = False)
percent_of_null_values

DaySinceLastOrder              5.452931
OrderAmountHikeFromlastYear    4.706927
Tenure                         4.689165
OrderCount                     4.582593
CouponUsed                     4.547069
HourSpendOnApp                 4.529307
WarehouseToHome                4.458259
CustomerID                     0.000000
MaritalStatus                  0.000000
Complain                       0.000000
NumberOfAddress                0.000000
PreferedOrderCat               0.000000
SatisfactionScore              0.000000
Churn                          0.000000
NumberOfDeviceRegistered       0.000000
Gender                         0.000000
PreferredPaymentMode           0.000000
CityTier                       0.000000
PreferredLoginDevice           0.000000
CashbackAmount                 0.000000
dtype: float64

    7 columns have null values and all of them contain null value below 6%

In [7]:
df['Churn'].value_counts()

0    4682
1     948
Name: Churn, dtype: int64

    This shows the data is imbalanced

In [8]:
#Separating numerical features excluding 'CustomerID','Churn' and 'CityTier', since they are unique.
numerical_features=[feature for feature in df.columns if df[feature].dtype!=object and feature not in ['CustomerID','Churn','CityTier']]
numerical_features

['Tenure',
 'WarehouseToHome',
 'HourSpendOnApp',
 'NumberOfDeviceRegistered',
 'SatisfactionScore',
 'NumberOfAddress',
 'Complain',
 'OrderAmountHikeFromlastYear',
 'CouponUsed',
 'OrderCount',
 'DaySinceLastOrder',
 'CashbackAmount']

In [9]:
#Separating Categorical Columns
cat_features=[features for features in df.columns if features not in (numerical_features and ['CustomerID'])]

# EDA

# 1. Univariate Analysis

#Analysing numerical columns.
df[numerical_features].hist(figsize=(40,40))

#Analysing Categorical columns.
for feature in cat_features:
    plt.figure(figsize=(8,6))
    ax = sns.countplot(x=feature, data=df,)
    plt.xticks(rotation=45)
    plt.show()

In [10]:
df['PreferredPaymentMode'].replace('COD','Cash on Delivery',inplace=True)
df['PreferredPaymentMode'].replace('CC','Credit Card',inplace=True)
df['PreferredPaymentMode'].nunique()

5

    Inference
    1.Churn count is less comparatively.
    2.Customers use phones mostly than computer for purchasing.
    3.Most customers prefer payment using Debit Card. 
    4.Male cutomers are more in number.
    5.Customers spend an average of 3 hours in app.
    6.Most customers buy Laptops and accessories using this app.
    7.Most customers have no complains.
    8.Most customers have used at least one coupon.

#  2. Bivariate Analysis

for feature in cat_features:
    if(feature not in ['Churn','Tenure','WareHouseToHome','CashbackAmount']):
        plt.figure(figsize=(8,6))
        sns.countplot(data=df,x=feature,hue='Churn')
        plt.grid()
        plt.xticks(rotation=15)
        plt.show()

    1. Churned customers are mostly from CityTier 1.
    2. Churned customers are mostly Debit Card users.
    3. Churned customers are mostly satisfied with the app. The satisfaction score shows that.
        Maybe because of some other reason, such as phone lost, phone complaint, etc., they may be listed as churned.

plt.figure(figsize=(20,20))
sns.heatmap(df.corr(), vmax=0.64, vmin=-0.34 ,annot=True)

    There is no strong correlation between features.

# Preprocessing

# 1. Missing Values

In [11]:
#Listing all columns with null values
features_with_na=[features for features in df.columns if df[features].isna().sum()>0]
features_with_na

['Tenure',
 'WarehouseToHome',
 'HourSpendOnApp',
 'OrderAmountHikeFromlastYear',
 'CouponUsed',
 'OrderCount',
 'DaySinceLastOrder']

In [12]:
df[features_with_na].nunique()

Tenure                         36
WarehouseToHome                34
HourSpendOnApp                  6
OrderAmountHikeFromlastYear    16
CouponUsed                     17
OrderCount                     16
DaySinceLastOrder              22
dtype: int64

for features in features_with_na:
    data =df.copy()
    data[features].hist(bins=36)
    plt.xlabel(features)
    plt.ylabel('Churn')
    plt.title(features)
    plt.show()

In [13]:
df[features_with_na].describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Tenure,5366.0,10.189899,8.557241,0.0,2.0,9.0,16.0,61.0
WarehouseToHome,5379.0,15.639896,8.531475,5.0,9.0,14.0,20.0,127.0
HourSpendOnApp,5375.0,2.931535,0.721926,0.0,2.0,3.0,3.0,5.0
OrderAmountHikeFromlastYear,5365.0,15.707922,3.675485,11.0,13.0,15.0,18.0,26.0
CouponUsed,5374.0,1.751023,1.894621,0.0,1.0,1.0,2.0,16.0
OrderCount,5372.0,3.008004,2.939680,1.0,1.0,2.0,3.0,16.0
DaySinceLastOrder,5323.0,4.543491,3.654433,0.0,2.0,3.0,7.0,46.0

    Inference
    Columns with missing values are not normally distributed. That is, they are skewed.
    Also, mean and median are almost same for them.
    Therefore, we replace the missing values with median.

In [14]:
for features in features_with_na:
    df[features]=df[features].fillna(df[features].median())
    
df[features_with_na].isna().sum()

Tenure                         0
WarehouseToHome                0
HourSpendOnApp                 0
OrderAmountHikeFromlastYear    0
CouponUsed                     0
OrderCount                     0
DaySinceLastOrder              0
dtype: int64

In [15]:
df[features_with_na].describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Tenure,5630.0,10.134103,8.357951,0.0,3.0,9.0,15.0,61.0
WarehouseToHome,5630.0,15.566785,8.345961,5.0,9.0,14.0,20.0,127.0
HourSpendOnApp,5630.0,2.934636,0.705528,0.0,2.0,3.0,3.0,5.0
OrderAmountHikeFromlastYear,5630.0,15.674600,3.591058,11.0,13.0,15.0,18.0,26.0
CouponUsed,5630.0,1.716874,1.857640,0.0,1.0,1.0,2.0,16.0
OrderCount,5630.0,2.961812,2.879248,1.0,1.0,2.0,3.0,16.0
DaySinceLastOrder,5630.0,4.459325,3.570626,0.0,2.0,3.0,7.0,46.0

# 2.Handling Outliers

In [16]:
df[numerical_features].nunique()

Tenure                           36
WarehouseToHome                  34
HourSpendOnApp                    6
NumberOfDeviceRegistered          6
SatisfactionScore                 5
NumberOfAddress                  15
Complain                          2
OrderAmountHikeFromlastYear      16
CouponUsed                       17
OrderCount                       16
DaySinceLastOrder                22
CashbackAmount                 2586
dtype: int64

#Checking for outliers in numerical columns
for features in numerical_features:
    data =df.copy()
    plt.figure(figsize=(8,6))
    sns.boxplot(df[features])
    plt.xlabel(features)
    plt.show()

    There are outliers in almost all numerical columns. 
    Since, the number of outliers is large for some columns, we replace them with corresponding upper or lower limits.

In [17]:
df[numerical_features].describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Tenure,5630.0,10.134103,8.357951,0.0,3.00,9.00,15.0000,61.00
WarehouseToHome,5630.0,15.566785,8.345961,5.0,9.00,14.00,20.0000,127.00
HourSpendOnApp,5630.0,2.934636,0.705528,0.0,2.00,3.00,3.0000,5.00
NumberOfDeviceRegistered,5630.0,3.688988,1.023999,1.0,3.00,4.00,4.0000,6.00
SatisfactionScore,5630.0,3.066785,1.380194,1.0,2.00,3.00,4.0000,5.00
NumberOfAddress,5630.0,4.214032,2.583586,1.0,2.00,3.00,6.0000,22.00
Complain,5630.0,0.284902,0.451408,0.0,0.00,0.00,1.0000,1.00
OrderAmountHikeFromlastYear,5630.0,15.674600,3.591058,11.0,13.00,15.00,18.0000,26.00
CouponUsed,5630.0,1.716874,1.857640,0.0,1.00,1.00,2.0000,16.00
OrderCount,5630.0,2.961812,2.879248,1.0,1.00,2.00,3.0000,16.00
DaySinceLastOrder,5630.0,4.459325,3.570626,0.0,2.00,3.00,7.0000,46.00
CashbackAmount,5630.0,177.223030,49.207036,0.0,145.77,163.28,196.3925,324.99

In [18]:
def remove_outliers(feature):
    Q1 = np.percentile(df[feature],25,interpolation = 'midpoint')
    Q2 = np.percentile(df[feature],50,interpolation = 'midpoint')
    Q3 = np.percentile(df[feature],75,interpolation = 'midpoint')

    IQR = Q3-Q1
    lr = Q1 - (1.5*IQR)
    ur = Q3 + (1.5*IQR)
    outlier = []
    for x in df[feature]:
        if ((x < lr) or (x > ur)):
            outlier.append(x)
    print(feature)
    print('Lower limit: ',lr)
    print('Upper limit: ',ur)
    print('No:of outliers before: ',len(outlier))

    df[feature]=np.where(df[feature]>ur,ur,df[feature])
    df[feature]=np.where(df[feature]<lr,lr,df[feature])
    outlier2 = []
    for x in df[feature]:
        if ((x < lr) or (x > ur)):
            outlier2.append(x)
    print('No:of outliers after: ',len(outlier2))

    
for feature in numerical_features:
    remove_outliers(feature)

Tenure
Lower limit:  -15.0
Upper limit:  33.0
No:of outliers before:  4
No:of outliers after:  0
WarehouseToHome
Lower limit:  -7.5
Upper limit:  36.5
No:of outliers before:  2
No:of outliers after:  0
HourSpendOnApp
Lower limit:  0.5
Upper limit:  4.5
No:of outliers before:  6
No:of outliers after:  0
NumberOfDeviceRegistered
Lower limit:  1.5
Upper limit:  5.5
No:of outliers before:  397
No:of outliers after:  0
SatisfactionScore
Lower limit:  -1.0
Upper limit:  7.0
No:of outliers before:  0
No:of outliers after:  0
NumberOfAddress
Lower limit:  -4.0
Upper limit:  12.0
No:of outliers before:  4
No:of outliers after:  0
Complain
Lower limit:  -1.5
Upper limit:  2.5
No:of outliers before:  0
No:of outliers after:  0
OrderAmountHikeFromlastYear
Lower limit:  5.5
Upper limit:  25.5
No:of outliers before:  33
No:of outliers after:  0
CouponUsed
Lower limit:  -0.5
Upper limit:  3.5
No:of outliers before:  629
No:of outliers after:  0
OrderCount
Lower limit:  -2.0
Upper limit:  6.0
No:of outliers before:  703
No:of outliers after:  0
DaySinceLastOrder
Lower limit:  -5.5
Upper limit:  14.5
No:of outliers before:  62
No:of outliers after:  0
CashbackAmount
Lower limit:  69.84750000000004
Upper limit:  272.30749999999995
No:of outliers before:  440
No:of outliers after:  0

In [19]:
df[numerical_features].describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Tenure,5630.0,10.118117,8.291334,0.0000,3.00,9.00,15.0000,33.0000
WarehouseToHome,5630.0,15.534813,8.089328,5.0000,9.00,14.00,20.0000,36.5000
HourSpendOnApp,5630.0,2.934636,0.703826,0.5000,2.00,3.00,3.0000,4.5000
NumberOfDeviceRegistered,5630.0,3.695471,0.942015,1.5000,3.00,4.00,4.0000,5.5000
SatisfactionScore,5630.0,3.066785,1.380194,1.0000,2.00,3.00,4.0000,5.0000
NumberOfAddress,5630.0,4.207993,2.555111,1.0000,2.00,3.00,6.0000,12.0000
Complain,5630.0,0.284902,0.451408,0.0000,0.00,0.00,1.0000,1.0000
OrderAmountHikeFromlastYear,5630.0,15.671670,3.582823,11.0000,13.00,15.00,18.0000,25.5000
CouponUsed,5630.0,1.440409,1.071295,0.0000,1.00,1.00,2.0000,3.5000
OrderCount,5630.0,2.520604,1.711109,1.0000,1.00,2.00,3.0000,6.0000
DaySinceLastOrder,5630.0,4.429130,3.439184,0.0000,2.00,3.00,7.0000,14.5000
CashbackAmount,5630.0,175.322824,44.066624,69.8475,145.77,163.28,196.3925,272.3075

# 3. Encoding

In [20]:
df.select_dtypes(include=object).nunique()

PreferredLoginDevice    3
PreferredPaymentMode    5
Gender                  2
PreferedOrderCat        6
MaritalStatus           3
dtype: int64

    Since 'PreferredLoginDevice','Gender' and 'MaritalStatus' columns are neither ordinal nor having more number of 
    unique values, we encode them using one-hot encoding. And 'PreferredPaymentMode' and 'PreferedOrderCat' columns 
    are encoded using label encoding since, one-hot may introduce more number of columns.

# Label Encoding

In [21]:
df['PreferedOrderCat'].replace('Mobile','Mobile Phone',inplace=True)
df['PreferedOrderCat'].value_counts()

Mobile Phone          2080
Laptop & Accessory    2050
Fashion                826
Grocery                410
Others                 264
Name: PreferedOrderCat, dtype: int64

In [22]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
#df['PreferredPaymentMode']=le.fit_transform(df['PreferredPaymentMode'])
df['PreferedOrderCat']=le.fit_transform(df['PreferedOrderCat'])
df['PreferedOrderCat'].value_counts()

3    2080
2    2050
0     826
1     410
4     264
Name: PreferedOrderCat, dtype: int64

In [23]:
df['NumberOfDeviceRegistered'].replace(1.5,1,inplace=True)
df['NumberOfDeviceRegistered'].replace(5.5,5,inplace=True)

In [24]:
df['OrderCount'].value_counts()

2.0    2283
1.0    1751
6.0     840
3.0     371
4.0     204
5.0     181
Name: OrderCount, dtype: int64

In [25]:
df['PreferredLoginDevice'].replace('Mobile Phone','Phone', inplace=True)

# One-Hot Encoding

In [26]:
df = pd.get_dummies(df, columns=['PreferredPaymentMode','PreferredLoginDevice','Gender','MaritalStatus'])
df.head()

,CustomerID,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,NumberOfAddress,...,PreferredPaymentMode_Debit Card,PreferredPaymentMode_E wallet,PreferredPaymentMode_UPI,PreferredLoginDevice_Computer,PreferredLoginDevice_Phone,Gender_Female,Gender_Male,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,50001,1,4.0,3,6.0,3.0,3.0,2,2.0,9.0,...,1,0,0,0,1,1,0,0,0,1
1,50002,1,9.0,1,8.0,3.0,4.0,3,3.0,7.0,...,0,0,1,0,1,0,1,0,0,1
2,50003,1,9.0,1,30.0,2.0,4.0,3,3.0,6.0,...,1,0,0,0,1,0,1,0,0,1
3,50004,1,0.0,3,15.0,2.0,4.0,2,5.0,8.0,...,1,0,0,0,1,0,1,0,0,1
4,50005,1,0.0,1,12.0,3.0,3.0,3,5.0,3.0,...,0,0,0,0,1,0,1,0,0,1

In [27]:
df['CouponUsed'].replace(3.5,4, inplace =True)
df['DaySinceLastOrder'].value_counts()

3.0     1207
2.0      792
1.0      614
8.0      538
0.0      496
7.0      447
4.0      431
9.0      299
5.0      228
10.0     157
6.0      113
11.0      91
12.0      69
14.5      62
13.0      51
14.0      35
Name: DaySinceLastOrder, dtype: int64

# 4. Feature Reduction

    Since CustomerID doesn't contribute to modelling or EDA, that can be removed.

In [28]:
df=df.drop(['CustomerID'], axis=1)

In [29]:
df.head()

,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,NumberOfAddress,Complain,...,PreferredPaymentMode_Debit Card,PreferredPaymentMode_E wallet,PreferredPaymentMode_UPI,PreferredLoginDevice_Computer,PreferredLoginDevice_Phone,Gender_Female,Gender_Male,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,1,4.0,3,6.0,3.0,3.0,2,2.0,9.0,1.0,...,1,0,0,0,1,1,0,0,0,1
1,1,9.0,1,8.0,3.0,4.0,3,3.0,7.0,1.0,...,0,0,1,0,1,0,1,0,0,1
2,1,9.0,1,30.0,2.0,4.0,3,3.0,6.0,1.0,...,1,0,0,0,1,0,1,0,0,1
3,1,0.0,3,15.0,2.0,4.0,2,5.0,8.0,0.0,...,1,0,0,0,1,0,1,0,0,1
4,1,0.0,1,12.0,3.0,3.0,3,5.0,3.0,0.0,...,0,0,0,0,1,0,1,0,0,1

# 5. Standardization/Normalization

    Normalization using min-max scaler

In [30]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler(feature_range=(0,1))
df_scaled = pd.DataFrame(min_max.fit_transform(df),columns = df.columns)

In [31]:
df_scaled.head()

,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,NumberOfAddress,Complain,...,PreferredPaymentMode_Debit Card,PreferredPaymentMode_E wallet,PreferredPaymentMode_UPI,PreferredLoginDevice_Computer,PreferredLoginDevice_Phone,Gender_Female,Gender_Male,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,1.0,0.121212,1.0,0.031746,0.625,0.50,0.50,0.25,0.727273,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
1,1.0,0.272727,0.0,0.095238,0.625,0.75,0.75,0.50,0.545455,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,1.0,0.272727,0.0,0.793651,0.375,0.75,0.75,0.50,0.454545,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
3,1.0,0.000000,1.0,0.317460,0.375,0.75,0.50,1.00,0.636364,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,1.0,0.000000,0.0,0.222222,0.625,0.50,0.75,1.00,0.181818,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0

# 6. Feature Engineering

    Since the columns 'PreferredLoginDevice_Mobile Phone' and 'PreferredLoginDevice_Phone' are logically same, 
    we can merge them.

In [32]:
df=df_scaled


df['PreferredLoginDevice_Phone']=df['PreferredLoginDevice_Mobile Phone']+df['PreferredLoginDevice_Phone']

In [33]:
df_scaled.head()

,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,NumberOfAddress,Complain,...,PreferredPaymentMode_Debit Card,PreferredPaymentMode_E wallet,PreferredPaymentMode_UPI,PreferredLoginDevice_Computer,PreferredLoginDevice_Phone,Gender_Female,Gender_Male,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,1.0,0.121212,1.0,0.031746,0.625,0.50,0.50,0.25,0.727273,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
1,1.0,0.272727,0.0,0.095238,0.625,0.75,0.75,0.50,0.545455,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,1.0,0.272727,0.0,0.793651,0.375,0.75,0.75,0.50,0.454545,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
3,1.0,0.000000,1.0,0.317460,0.375,0.75,0.50,1.00,0.636364,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,1.0,0.000000,0.0,0.222222,0.625,0.50,0.75,1.00,0.181818,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0

df=df.drop(['PreferredLoginDevice_Mobile Phone'],axis=1)

In [34]:
df.head()

,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,NumberOfAddress,Complain,...,PreferredPaymentMode_Debit Card,PreferredPaymentMode_E wallet,PreferredPaymentMode_UPI,PreferredLoginDevice_Computer,PreferredLoginDevice_Phone,Gender_Female,Gender_Male,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,1.0,0.121212,1.0,0.031746,0.625,0.50,0.50,0.25,0.727273,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
1,1.0,0.272727,0.0,0.095238,0.625,0.75,0.75,0.50,0.545455,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,1.0,0.272727,0.0,0.793651,0.375,0.75,0.75,0.50,0.454545,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
3,1.0,0.000000,1.0,0.317460,0.375,0.75,0.50,1.00,0.636364,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,1.0,0.000000,0.0,0.222222,0.625,0.50,0.75,1.00,0.181818,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0

In [35]:
df.columns

Index(['Churn', 'Tenure', 'CityTier', 'WarehouseToHome', 'HourSpendOnApp',
       'NumberOfDeviceRegistered', 'PreferedOrderCat', 'SatisfactionScore',
       'NumberOfAddress', 'Complain', 'OrderAmountHikeFromlastYear',
       'CouponUsed', 'OrderCount', 'DaySinceLastOrder', 'CashbackAmount',
       'PreferredPaymentMode_Cash on Delivery',
       'PreferredPaymentMode_Credit Card', 'PreferredPaymentMode_Debit Card',
       'PreferredPaymentMode_E wallet', 'PreferredPaymentMode_UPI',
       'PreferredLoginDevice_Computer', 'PreferredLoginDevice_Phone',
       'Gender_Female', 'Gender_Male', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single'],
      dtype='object')

    We can add a column AvgCashbkPerOrd using columns 'CashbackAmount' and 'OrderCount'

    df['AvgCashbkPerOrd'] = df['CashbackAmount'] / df['OrderCount']

     We tried to add a column like this. But, when dinominator=0, the value becomes infinity. And we don't know how to solve that. But, we tried.

plt.figure(figsize=(20,20))
sns.heatmap(df.corr(),vmin=-0.73, vmax=0.65, annot=True)

    Since there are no strong positive or negative correlation between features. 
    Therefore, we can't remove any more features at this stage.

# Modelling

In [36]:
#Separating X and y
X=df.drop(['Churn'], axis=1)
y=df['Churn']

In [37]:
#Separating X and y
X=df.drop(['Churn'], axis=1)
y=df['Churn']

In [38]:
#Splitting the dataset into train data and test data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42,test_size=0.3)
X_train.shape

(3941, 26)

In [39]:
#Creating a function for training and predicting the data.

from sklearn.metrics import f1_score
from time import time

table={'Training Time':[],'Prediction Time(Test)':[],'F1 Score(train)':[],'F1 Score(test)':[]}
comp_tab=pd.DataFrame(table)

def train_predict(clf, X_train, X_test, y_train, y_test):
    start = time()
    clf.fit(X_train, y_train)
    end = time()
    train_time=round(end-start,4)
 
    
    y_pred = clf.predict(X_train)
    f1_train=f1_score(y_train.values, y_pred, average='micro', )
    
 
    start = time()
    y_pred = clf.predict(X_test)
    end = time()
    f1_test=f1_score(y_test.values, y_pred, average='micro')
    pred_time_test=round(end-start,4)
    
    return train_time,  pred_time_test, f1_train, f1_test

    We are using these 7 common algorithms.
    1. Logistic Regression
    2. Support Vector Machine (SVM)
    3. K – Nearest Neighbour (KNN)
    4. Decision Trees
    5. Random Forest
    6. Gradient Boosting
    7. Extreme Gradient Boosting(XGB)

In [40]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
LR = LogisticRegression()
SVM = SVC()
KNN = KNeighborsClassifier()
DT = DecisionTreeClassifier()
RF = RandomForestClassifier()
GB = GradientBoostingClassifier()
XGB = XGBClassifier()
for clf in [LR, SVM, KNN, DT, RF, GB, XGB]:
    tt,pt_test,f1_train,f1_test=train_predict(clf, X_train, X_test, y_train, y_test)
    comp_tab.loc[len(comp_tab.index)] = [tt, pt_test, f1_train, f1_test]
    
comp_tab.insert(0, 'Algorithm', ['LR', 'SVM', 'KNN', 'DT', 'RF', 'GB', 'XGB']) 
comp_tab

,Algorithm,Training Time,Prediction Time(Test),F1 Score(train),F1 Score(test)
0,LR,0.1240,0.0050,0.877950,0.878626
1,SVM,0.9179,0.6011,0.914489,0.900533
2,KNN,0.0050,0.3750,0.940370,0.879218
3,DT,0.0313,0.0000,1.000000,0.947306
4,RF,0.9275,0.0625,1.000000,0.955595
5,GB,1.4018,0.0100,0.935296,0.914150
6,XGB,6.5530,0.0430,1.000000,0.970397

    Inference
    In terms of accuracy, XGB is the best for this classification. But, training time for XGB is little bit higher.

# Hyper Parameter Tuning

In [41]:
# t-tuned

# 1. Logistic Regression

LRt = LogisticRegression(penalty='none',solver='newton-cg')
tt,pt_test,f1_train,f1_test=train_predict(LRt, X_train, X_test, y_train, y_test)
tt,pt_test,f1_train,f1_test

    Now, accuracy improved a bit.

# 2. SVM

SVMt = SVC(kernel='linear')
tt,pt_test,f1_train,f1_test=train_predict(SVMt, X_train, X_test, y_train, y_test)
tt,pt_test,f1_train,f1_test

SVMt = SVC(kernel='poly')
tt,pt_test,f1_train,f1_test=train_predict(SVMt, X_train, X_test, y_train, y_test)
tt,pt_test,f1_train,f1_test

SVMt = SVC(kernel='sigmoid')
tt,pt_test,f1_train,f1_test=train_predict(SVMt, X_train, X_test, y_train, y_test)
tt,pt_test,f1_train,f1_test

    Accuracy improved by using kernel='poly'

# 3. KNN

for i in np.arange(1,22):
    KNNt = KNeighborsClassifier(n_neighbors=i)
    tt,pt_test,f1_train,f1_test=train_predict(KNNt, X_train, X_test, y_train, y_test)
    print(i,' ',f1_train,f1_test)

    For parameter n-neighbors, 1 gives best aacuracy.

# 4. Decision Tree

DTt = DecisionTreeClassifier(criterion='entropy')
tt,pt_test,f1_train,f1_test=train_predict(DTt, X_train, X_test, y_train, y_test)
f1_train,f1_test

DTt = DecisionTreeClassifier(max_features='sqrt')
tt,pt_test,f1_train,f1_test=train_predict(DTt, X_train, X_test, y_train, y_test)
f1_train,f1_test

DTt = DecisionTreeClassifier(max_features='log2')
tt,pt_test,f1_train,f1_test=train_predict(DTt, X_train, X_test, y_train, y_test)
f1_train,f1_test

DTt = DecisionTreeClassifier(max_features='sqrt',criterion='entropy')
tt,pt_test,f1_train,f1_test=train_predict(DTt, X_train, X_test, y_train, y_test)
f1_train,f1_test

    Therefore, best accuracy is for criterion='entropy'

# 5. Random Forest

for i in np.arange(1,21):
    RFt = RandomForestClassifier(max_features=i)
    tt,pt_test,f1_train,f1_test=train_predict(RFt, X_train, X_test, y_train, y_test)
    print(i, ' ',f1_train,f1_test)

RFt = RandomForestClassifier(max_features='log2')
tt,pt_test,f1_train,f1_test=train_predict(RFt, X_train, X_test, y_train, y_test)
f1_train,f1_test

RFt = RandomForestClassifier(n_estimators=10)
tt,pt_test,f1_train,f1_test=train_predict(RFt, X_train, X_test, y_train, y_test)
f1_train,f1_test

RFt = RandomForestClassifier(n_estimators=1000, max_features='log2')
tt,pt_test,f1_train,f1_test=train_predict(RFt, X_train, X_test, y_train, y_test)
f1_train,f1_test

    Therefore, when parameter max_features=18, accuracy improved a bit.

# 6. Gradient Boosting

GBt = GradientBoostingClassifier(n_estimators=1000)
tt,pt_test,f1_train,f1_test=train_predict(GBt, X_train, X_test, y_train, y_test)
f1_train,f1_test

GBt = GradientBoostingClassifier(learning_rate=0.01,n_estimators=1000)
tt,pt_test,f1_train,f1_test=train_predict(GBt, X_train, X_test, y_train, y_test)
f1_train,f1_test

    Therefore, accuracy improved with parameter n_estimators=1000

# 7. Extreme Gradient Boosting

In [42]:
clf

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=1000,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

XGBt = XGBClassifier(n_estimators=1000)
tt,pt_test,f1_train,f1_test=train_predict(XGBt, X_train, X_test, y_train, y_test)
f1_train,f1_test

    Accuracy improved a bit eventhough it is the best among all other algorithms.

In [43]:
df.columns

Index(['Churn', 'Tenure', 'CityTier', 'WarehouseToHome', 'HourSpendOnApp',
       'NumberOfDeviceRegistered', 'PreferedOrderCat', 'SatisfactionScore',
       'NumberOfAddress', 'Complain', 'OrderAmountHikeFromlastYear',
       'CouponUsed', 'OrderCount', 'DaySinceLastOrder', 'CashbackAmount',
       'PreferredPaymentMode_Cash on Delivery',
       'PreferredPaymentMode_Credit Card', 'PreferredPaymentMode_Debit Card',
       'PreferredPaymentMode_E wallet', 'PreferredPaymentMode_UPI',
       'PreferredLoginDevice_Computer', 'PreferredLoginDevice_Phone',
       'Gender_Female', 'Gender_Male', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single'],
      dtype='object')

In [44]:
df.to_csv("ready_to_model.csv")